---
layout: default
---

<div class="home" style="text-align:center;">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">Nos catégories</h1>
          {% for post in site.posts %}
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">{{ post.categories }}</a> /
          {% endfor %}
          <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">Découvrez nos derniers articles</h1>
      </div>
      {% for post in site.posts %}
      <div class="col-md-4 post-content">
        <div class="card" style="width: 18rem;">
          <img src="{{ post.imgurl }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.date | date: "%b %-d, %Y" }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Lire l'article</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>




<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
  navigator.serviceWorker.register('{{ site.baseurl }}/serviceworker.js')
          .then((reg) => {
            console.log('Service worker registered.', reg);
          });
    });
  }
</script>
