<header class="site-header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ site.baseurl}}/">
        <img src="{{ site.baseurl }}/assets/images/logo_ynews.png" class="logo_ynews"/>
      </a>
      <ul class="navbar-nav mr-auto">
    		  <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}">Accueil</a>
    		  </li>
            {% for my_page in site.pages %}
              {% if my_page.title %}
                {% if my_page.layout %}
    		  <li class="nav-item">
              <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    		  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
       </ul>
    </nav>


</header>
