<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">	
            {{ content }}
    </div>

    {% include footer.html %}

</body>

</html>