---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


  <h1>Vibrate : </h1>
  <button class="btn btn-primary" onclick="doVibrate();">Vibrer</button>

  <h1>Geoloc : </h1>
  <button class="btn btn-primary" onclick="geoFindMe();getLocation();">Localisation</button>
  <p id="status"></p>
  <p id="map-link"></p>
  <div id="testloc"></div>

  <h1>Tactile : </h1>
  <canvas id="canvas-touch" width="200" height="200" style="border:solid black 1px;">
    Pas possible
  </canvas>
  <p id="touch"></p>

  <script>
    document.addEventListener("DOMContentLoaded", startup);
  </script>

</article>
